---
import { Image } from 'astro:assets'
import Layout from '$layouts/Layout.astro'
import BlockInfo from '$components/BlockInfo.astro'
import SvgLogoAsturias from '$assets/icons/logo-asturias.png'
import SvgLogoAsturias2 from '$assets/icons/logo-asturias-2.png'
import SvgTrain from '$assets/icons/train.svg'
import videoHero from '$assets/videos/hero.webm'
import img01 from '$assets/images/01.webp'
import img02 from '$assets/images/02.webp'
import img03 from '$assets/images/03.webp'
import img04 from '$assets/images/04.webp'
import imgBg from '$assets/images/bg.png'
---

<Layout>
	<section class="reveal group relative bg-black text-white">
		<video class="absolute size-full object-cover" src={videoHero} autoplay loop muted playsinline></video>
		<span class="absolute inset-0 bg-gradient-to-b from-fuchsia-300/20 to-green-950/80"></span>
		<div class="relative container flex min-h-screen flex-col gap-8 py-16">
			<a class="flex items-center gap-2 self-start text-xs text-green-950" href="/">
				<span><strong>La joya rural</strong><br />Un proyecto de</span>
				<Image class="ml-2 w-[12rem]" src={SvgLogoAsturias} alt="" />
			</a>
			<div class="my-auto max-w-xl font-bold">
				<h1 class="text-5xl">
					<span class="inline-block overflow-clip">
						<span class="group-reveal:translate-y-full block">Asturias en primavera:</span>
					</span>
				</h1>
				<h2 class="mt-6 overflow-clip text-2xl">
					<span class="group-reveal:translate-y-full group-revealed:delay-400 block">Un viaje inolvidable al Paraíso Natural</span>
				</h2>
			</div>
			<p class="max-w-md self-end overflow-clip">
				<span class="group-reveal:translate-y-full group-revealed:delay-600 block"> Los días se alargan, el aire se llena del aroma dulce de los manzanos en flor y la naturaleza despierta en Asturias con un espectáculo de colores y sensaciones.</span>
			</p>
		</div>
	</section>

	<section class="view-railway relative overflow-clip">
		<div class="sticky top-0 -z-1 h-0 opacity-50 lg:ml-[40%]">
			<Image class="w-full" src={imgBg} width={1152} alt="" />
		</div>

		<BlockInfo texto={'Cascadas de Oneta'} image={img01}>
			<p class="text-2xl font-semibold text-black">La primavera es la época en la que el paraíso natural despliega su mejor versión: cascadas que rugen con la fuerza del deshielo, verdes praderas que se extienden hasta el horizonte y pueblos que invitan a perderse sin prisa. Asturias en su estado más puro.</p>
			<p class="text-2xl font-semibold text-black">Ahora, con la llegada del AVE, vivir esta experiencia está al alcance de todos. Seis frecuencias diarias conectan Madrid con Oviedo, Gijón y Avilés en apenas tres horas, haciendo posible una escapada exprés o unas vacaciones inmersivas en la tierra de la sidra y los paisajes infinitos. A esto se suman 31 conexiones aéreas directas, 19 internacionales y 12 nacionales, que acercan Asturias al mundo sin que pierda su autenticidad.</p>
		</BlockInfo>

		<BlockInfo texto={'Mercado de Grado'} image={img02}>
			<h2 class="mb-6 text-3xl font-semibold text-black">Asturias en primavera: un estallido de color y sabor</h2>
			<p>Con la llegada de la primavera, los montes asturianos recuperan su intensidad y los manzanos florecen en un espectáculo de colores suaves. El ambiente se llena del frescor de la tierra mojada y del inconfundible aroma de la sidra que empieza a servirse en los chigres.</p>
			<p>En la comarca de la sidra, las "prebas" de sidra son toda una experiencia sensorial: el sabor ácido y afrutado del oro líquido asturiano se combina con la cultura y la tradición de una tierra que vive con pasión su bebida insignia.</p>
			<p>Pero la gastronomía en Asturias es mucho más que sidra. En Castropol, <a class="underline" target="_blank" rel="sponsored" href="https://asturias.com/festival-de-la-ostra-castropol/?srsltid=AfmBOoriH90FjRCiWTZ5M2o_IbdCphRe1HkJE1UJm2C3pIIHD6r4D7Q9">el Festival de la Ostra</a> rinde homenaje a este manjar con un maridaje perfecto de vinos del occidente asturiano o una copa de sidra espumosa. Mientras tanto, en el centro de Asturias, los mercados tradicionales, como el dominical de Grado, invitan a perderse entre quesos artesanos, embutidos caseros y la calidez de los vendedores que parecen conocer la historia de cada producto que ofrecen.</p>
			<p class="mt-12 text-3xl font-bold text-green-700 xl:px-12">Asturias celebra el 40 aniversario de su icónico lema "<a class="underline" target="_blank" rel="sponsored" href="https://www.youtube.com/watch?v=MZ_NE3e8cQU">Paraíso Natural</a>" con una accesibilidad renovada y una oferta turística que se reinventa sin perder su esencia.</p>
		</BlockInfo>

		<BlockInfo texto={'Ruta Tabayón del Mongallu - Arroyo de la Requexada'} image={img03}>
			<h2 class="mb-6 text-3xl font-semibold text-black">Aventura y desconexión en un paisaje de ensueño</h2>
			<p>Asturias es un destino para vivirlo con los cinco sentidos. En primavera, la naturaleza despierta con toda su energía y ofrece espectáculos que dejan sin aliento. Desde las cascadas de Oneta en Villayón hasta la de Morlongo en Villanueva de Oscos, el agua se precipita con fuerza en un entorno de musgos y helechos que parece sacado de un cuento de hadas.</p>
			<p>Para quienes buscan aventura, la opción está clara: remar en los ríos asturianos como un piragüista profesional, recorrer en paddle surf la ría de Niembro en Llanes o subir a caballo hasta los acantilados de la costa para ver el mar Cantábrico romper con furia contra las rocas.</p>
			<p>Si prefieres un viaje en el tiempo, el <a class="underline" target="_blank" rel="sponsored" href="https://www.parquedelaprehistoria.es/es/">Parque de la Prehistoria de Teverga</a> te hará sentir como un auténtico explorador, con cuevas y pinturas rupestres que susurran historias de hace miles de años.</p>

			<p class="mt-12 text-3xl font-bold text-green-700 xl:px-12">Para los amantes de la arquitectura, el pueblo de Somao, con sus casonas indianas de colores vibrantes, transporta a la época en la que los asturianos emigraban a América y regresaban convertidos en prósperos empresarios.</p>
		</BlockInfo>

		<BlockInfo texto={'Oso en alerta en Fuentes del Narcea'} image={img04}>
			<h2 class="mb-6 text-3xl font-semibold text-black">Un lujo natural, ahora al alcance de todos</h2>
			<p>Asturias celebra el 40 aniversario de su icónico lema "<a class="underline" target="_blank" rel="sponsored" href="https://www.youtube.com/watch?v=MZ_NE3e8cQU">Paraíso Natural</a>" con una accesibilidad renovada y una oferta turística que se reinventa sin perder su esencia. El turismo rural sigue siendo una de sus grandes joyas, con aldeas como Taramundi, donde el tiempo parece detenerse entre casas de piedra, bosques centenarios y talleres de cuchillería tradicional.</p>
			<p>Mientras tanto, en los valles de Somiedo, los osos pardos salen de su letargo invernal, ofreciendo a los visitantes la posibilidad de observarlos en su hábitat natural, una experiencia única en Europa. Y no nos olvidamos del Parque Natural de las Fuentes del Narcea, Degaña e Ibias donde podemos encontrar la Reserva Natural Integral de Muniellos (Reserva de la Biosfera) y Teverga, imprescindibles en nuestra visita.</p>
			<p>Ahora, llegar a Asturias es más fácil que nunca, pero la esencia de su tierra sigue intacta. Es un destino que no se recorre con prisas, sino con la calma de quien sabe que está en un lugar especial. Porque si hay algo que define a Asturias es su capacidad de hacer sentir a cada visitante que ha encontrado su propio rincón en el paraíso.</p>
		</BlockInfo>

		<div class="bg-railway absolute inset-y-0 z-10 w-6 max-lg:right-0 lg:left-2/5">
			<span class="absolute inset-y-0 right-full w-6 bg-gradient-to-r from-transparent to-black/25"></span>

			<div class="sticky top-0 -mx-1 h-screen">
				<div class="animate-train relative">
					<span class="absolute -inset-2 -z-1 rounded-full bg-black/25 blur"></span>
					<SvgTrain />
				</div>
			</div>
		</div>
	</section>

	<footer class="bg-green-950 text-center text-white">
		<div class="container py-12 lg:py-24">
			<p>ElTiempo Content para</p>
			<Image class="m-auto mt-4 w-[10rem]" src={SvgLogoAsturias2} alt="" />
		</div>
	</footer>
</Layout>

<style is:global>
	@supports (animation-timeline: view()) {
		@keyframes animate-train {
			from {
				transform: translateY(-100%);
			}
			to {
				transform: translateY(100vh);
			}
		}
		.view-railway {
			view-timeline: --view-railway;
		}
		.animate-train {
			animation: animate-train linear both;
			animation-timeline: --view-railway;
			animation-range: entry contain;
		}
	}

	@supports not (animation-timeline: view()) {
		.animate-train {
			transform: translateY(6rem);
		}
	}
</style>
